<ion-header>
  <ion-navbar>
    <ion-title>Detail Product</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-row>
    <ion-col class="ion-card" col-12 inset style="padding: 0px !important">
      <ion-card>
        <img *ngIf="product.image==null" src="https://ecommerce.jaroji.web.id/uploads/product/images/no-image.jpg"/>
        <img *ngIf="product.image!=null" src="https://ecommerce.jaroji.web.id/uploads/product/images/{{ product.image }}"/>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <h2> Nama      : </h2> 
              {{ product.name }} 
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <h2> Kategori  : </h2>
              <h3>{{ product.categori_id }} </h3>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <h2> Harga     : </h2>
              Rp. {{ product.price }};
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>