page-home {     
    p {         
        font-size: 12pt;     
    }     
    .row {         
        background: lightblue;         
        height: 25pt;         
        line-height: 25pt;     
    }     
    .col {               
        text-align: center;         
        font-style: italic;     
    }     
    table {        
         width: 150pt;        
         border: 2px dashed mediumaquamarine;     
    }     
    td {         
        text-align: center;     
    } 
} 
